<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>
        body {
        background-color: #38383d;
        }
        .title {
            margin: 5px;
        }

        .content {
            margin: 5px;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            color:#ffffff;
        }

        .Trade {
            flex: 20%;
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3;
            inline-size: 100%;
            color:#ffffff;
        }

        .positions {
            padding: 10px;
            margin: 5px;
            background-color: #ffffff;
            color: #004835;
        }

        .box {
            display: flex;
            margin: 2px;
            align-items: center;
            justify-content: center;
            background-color: #4a4a4f;
            }

        .box div {
            width: 100%;
            height: 20px;
            }

        .box2 {
            display: flex;
            margin: 2px;
            align-items: center;
            justify-content: center;
            background-color: #0c0c0d;
            color: #ffffff;
            }

        .box3 {
            display: flex;
            margin: 2px;
            align-items: center;
            justify-content: center;
            background-color: #4a4a4f;
            }

        .box3 div {
            width: 100%;
            height: 40px;
            }

        .name a {
            color: #00a36f;
            text-decoration: none;
        }

        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>

    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>