{% extends 'base.html' %}

{% block content %}

<h1 class="title">{% block title %} Trading {% endblock %}</h1>

<div class="box3">
<div class="box2">
    <h2>Free: {{ USDT }} USDT</h2>
</div>

<div class="box2">
    <h2>Profit: {{ totalprofitUSDT }} USDT</h2> 
</div>

<div class="box2">
    <h2>Total: {{ totalUSDT }} USDT</h2> 
</div>
</div>

<div class="box3">

    <div class="box2">
        <h2>Coin</h2>
    </div>

    <div class="box2">
        <h2>BTC</h2>
    </div>
    
    <div class="box2">
        <h2>ETH</h2> 
    </div>
    
    <div class="box2">
        <h2>BNB</h2> 
    </div>

    <div class="box2">
        <h2>PAXG</h2> 
    </div>
    </div>

<div class="box3">

    <div class="box2">
        <h2>Price</h2>
    </div>

    <div class="box2">
        <h2>{{ BTC.price }}</h2>
    </div>
    
    <div class="box2">
        <h2>{{ ETH.price }}</h2> 
    </div>
    
    <div class="box2">
        <h2>{{ BNB.price }}</h2> 
    </div>

    <div class="box2">
        <h2>{{ PAXG.price }}</h2> 
    </div>
    </div>

<div class="box3">

    <div class="box2">
        <h2>Profit</h2>
    </div>

    <div class="box2">
        <h2>{{ BTC.profit }}</h2>
    </div>
    
    <div class="box2">
        <h2>{{ ETH.profit }}</h2> 
    </div>
    
    <div class="box2">
        <h2>{{ BNB.profit }}</h2> 
    </div>

    <div class="box2">
        <h2>{{ PAXG.profit }}</h2> 
    </div>
    </div>

<div class="box3">

    <div class="box2">
        <h2>Qty</h2>
    </div>

    <div class="box2">
        <h2>{{ BTC.total }}</h2>
    </div>
    
    <div class="box2">
        <h2>{{ ETH.total }}</h2> 
    </div>
    
    <div class="box2">
        <h2>{{ BNB.total }}</h2> 
    </div>

    <div class="box2">
        <h2>{{ PAXG.total }}</h2> 
    </div>
    </div>

<div class="box3">

    <div class="box2">
        <h2>USDT</h2>
    </div>

    <div class="box2">
        <h2>{{ BTC.USDT }}</h2>
    </div>
    
    <div class="box2">
        <h2>{{ ETH.USDT }}</h2> 
    </div>
    
    <div class="box2">
        <h2>{{ BNB.USDT }}</h2> 
    </div>

    <div class="box2">
        <h2>{{ PAXG.USDT }}</h2> 
    </div>
    </div>


<div class="box3">

    <div class="box2">
        <h2>Portion</h2>
    </div>

    <div class="box2">
        <h2>{{ BTC.portion }}</h2>
    </div>
    
    <div class="box2">
        <h2>{{ ETH.portion }}</h2> 
    </div>
    
    <div class="box2">
        <h2>{{ BNB.portion }}</h2> 
    </div>

    <div class="box2">
        <h2>{{ PAXG.portion }}</h2> 
    </div>
    </div>

<h1>Open Buys</h1>
<div class="content">
    {% for Buy in allopenBuys %}
        <div class="box">
            <div class="box2">
                {{ Buy.15 }} 
                </div> 
            <div class="box2">
                {{ Buy.4 }} 
                </div> 
            <div class="box2">
                <p><b>{{ Buy.0 }} 
                </b>
                </div> 
            <div class="box2">
                {{ Buy.5 }} 
                </div> 
            <div class="box2">
                {{ Buy.6 }} 
                </div> 
            <div class="box2">
                {{ Buy.8 }} 
                </div> 
            <div class="box2">
                {{ Buy.14 }} 
                </div> 
            <div class="box2">
                {{ Buy.17 }} 
                </div> 
            <div class="box2">
                {{ Buy.16 }} 
                </div> 
        </div>
    {% endfor %}
</div>

<h1>Open Sells</h1>
<div class="content">
    {% for Sell in allopenSells %}
        <div class="box">
            <div class="box2">
                {{ Sell.14 }} 
                </div>
            <div class="box2">
                {{ Sell.4 }} 
                </div> 
            <div class="box2">
                <p><b>{{ Sell.0 }} 
                </b>
                </div> 
            <div class="box2">
                {{ Sell.5 }} 
                </div> 
            <div class="box2">
                {{ Sell.6 }} 
                </div> 
            <div class="box2">
                {{ Sell.8 }} 
                </div> 
            <div class="box2">
                {{ Sell.14 }} 
                </div> 

        </div>
    {% endfor %}
</div>



<h1>Open Trades</h1>
    <div class="content">
        {% for Trade in allopenTrades %}
            <div class="box">
                <div class="box2">
                    
<a href="{{ url_for('trade') }}?Id={{ Trade.15}}">{{ Trade.15 }} </a>
                    </div> 
                <div class="box2">
                    {{ Trade.4 }} 
                    </div> 
                <div class="box2">
                    <p><b>{{ Trade.0 }} 
                    </b>
                    </div> 
                <div class="box2">
                    {{ Trade.5 }} 
                    </div> 
                <div class="box2">
                    {{ Trade.6 }} 
                    </div> 
                <div class="box2">
                    {{ Trade.8 }} 
                    </div> 
                <div class="box2">
                    {{ Trade.14 }} 
                    </div> 
                <div class="box2">
                    {{ Trade.17 }} %
                    </div> 
                <div class="box2">
                    {{ Trade.18 }} USDT
                    </div> 
                <div class="box2">
                    {{ Trade.16 }} 
                    </div> 
            </div>
        {% endfor %}
        <div class="box">
            <div class="box2">
        <a href="{{ url_for('buy') }}?Pair=BTCUSDT">BUY BTC 
            </div>
            <div class="box2">
        <a href="{{ url_for('buy') }}?Pair=ETHUSDT">BUY ETH 
        </div>
        <div class="box2">
            <a href="{{ url_for('buy') }}?Pair=BNBUSDT">BUY BNB
            </div>
            <div class="box2">
                <a href="{{ url_for('buy') }}?Pair=PAXGUSDT">BUY PAXG 
                </div>
        </div>
    </div>

    <script type="text/javascript" language="javascript">
        window.setTimeout(function () {
        location.href = "{{ url_for('index') }}";
    }, 15000); // refresh/redirect after 5 seconds.
        </script>
    

{% endblock %}