{% extends 'base.html' %}

{% block content %}

<h1 class="title">{% block title %} Trade {% endblock %}</h1>

                <div class="box2">
                    Trade ID:
                    {{ Trade.15 }}
                    </div> 
                <div class="box2">
                    Date:
                    {{ Trade.4 }} 
                    </div> 
                <div class="box2">
                    Pair:
                    <p><b>{{ Trade.0 }} 
                    </b>
                    </div> 
                <div class="box2">
                    Price:
                    {{ Trade.5 }} 
                    </div> 
                <div class="box2">
                    Qty:
                    {{ Trade.6 }} 
                    </div> 
                <div class="box2">
                    USDT Qty:
                    {{ Trade.8 }} 
                    </div> 
                <div class="box2">
                    {{ Trade.14 }} 
                    </div> 
                <div class="box2">
                    Profit:
                    {{ Trade.17 }} 
                    </div> 
                <div class="box2">
                    Kind:
                    {{ Trade.16 }} 
                    </div> 
                
                <a href="{{ url_for('sell') }}?Id={{ Trade.15}}"> SELL {{ Trade.15 }} </a>

{% endblock %}